spring:
  # 1. Virtual Threads 활성화
  threads:
    virtual:
      enabled: true

  # 2. Database (PostgreSQL) - Transactional Outbox을 위한 저장소
  datasource:
    url: jdbc:postgresql://localhost:5432/payment_db
    username: admin
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # 3. Redis - 멱등성 키, Rate Limit, 주문 금액 사전 검증용
  data:
    redis:
      host: localhost
      port: 6379

  # 4. Kafka - 계정계(Ledger) 전송용 메시지 브로커
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.JsonSerializer
      acks: all # 데이터 유실 방지를 위한 필수 설정

  # 5. 결제 API 연동
  payment:
    toss:
      base-url: https://api.tosspayments.com
      secret-key: ${TOSS_SECRET_KEY:test_sk_0123456789}
    portone:
      base-url: https://api.iamport.kr # 포트원 V1 기준
      api-key: ${PORTONE_API_KEY:imp_12345678}
      api-secret: ${PORTONE_API_SECRET:secret_12345678}
#      v2:
#        base-url: https://api.portone.io
#        store-id: ${PORTONE_STORE_ID:store-12345} # 상점 ID (V2에서 추가됨)
#        api-secret: ${PORTONE_API_SECRET:sk_test_12345} # 시크릿 키

  # 6. API Gateway 라우팅 규칙 설정
  cloud:
    gateway:
      routes:
        - id: payment-service-route
          uri: http://localhost:8081      # 실제 결제 서비스 주소
          predicates:
            - Path=/v1/payments/** # 이 경로로 들어오면
          filters:
            - name: RequestRateLimiter     # 호출 제한 필터 적용
              args:
                replenishRate: 10
                burstCapacity: 20

# 6. Resilience4j 상세 설정 (가용량 제어 및 서킷 브레이커, 카드사 및 결제 API)
resilience4j:
  circuitbreaker:
    instances:
      cardApproval: # 카드사 승인 API 용 서킷 브레이커
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
      tossApproval:
        baseConfig: default
        portoneApproval:
          baseConfig: default
  ratelimiter:
    instances:
      merchantLimit: # 가맹점 별 호출 제한 (현재 1초에 100건)
        limitForPeriod: 100
        limitRefreshPeriod: 1s
        timeoutDuration: 0

# 7. Actuator - 시스템 헬스 체커
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus